html {
  background-color: black;
}

body {
  background-color: white;
  color: black;
  opacity: 0.75;
}

.nav {
  background-color: black;
  opacity: 0.75;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  justify-content: center;
}

.nav h4 {
  display: inline-flex;
}

.nav a {
  color: purple;
  opacity: 0.75;
}

.nav a:hover {
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  color: black;
}

.mission {
  background-color: black;
  color: purple;
  opacity: 0.5;
  border-radius: 50px 10px 50px 10px;
  margin: 10px 50px;
  padding: 25px;
}

#missionheader {
  display: flex;
  justify-content: center;
}

#missiondatement {
  display: flex;
  justify-content: center;
}

#missionstatement {
  display: flex;
  justify-content: center;
} 



.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/*maybe even include differentiations in classes here to identify different li components as differently colored stripes to play with in CSS*/

.listimage {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50px 50px 50px 50px;
}

.team {

}

.team h1 /*check syntax just to be cautious*/ {

}

.Emilio_Shmit {

}

/* this may require a redo using an id=""p {

}
*/
.Melissa_Beauveen {

}

.Eric_Dorkner_Jr {

}

.contact {
  display: flex;
}

/* redo to fit within footer h4 {

} /*
